@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #34495e;
  color: #fff;
}
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B"; /* css entity */
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  /* transition: transform 0.2s ease-in-out; alternative */
}
.accordion-item-header.active::after {
  content: "\2212";
  /* transform: rotate(45deg); alternative */
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 2px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
/* .accordion-item-header.active + .accordion-item-body {
  max-height: 100%;
} */
